
<div class="container theme-showcase new-user-cont">
  <h3 class ="form-signin-heading">Become a Take a Hike Member</h3>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div>
        <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>
    </div>
    <div>
      <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
    </div>
    <div>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
    </div>
    <div>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %>
    </div>
    <div class="spacer"></div>
    <div><%= f.submit "Submit", class: "btn btn-lg btn-default btn-block new-user" %></div>
  <% end %>
</div>
