<div id="profile-page">
<div id="" class="container-fluid">

  <div id="profile-header" class="row">

    <div id="user-avatar" class="col-xs-4 col-sm-2 col-lg-2">
      <br>
      <%= link_to image_tag('avatar.png', width: '75', height: '75', id: '#', alt: 'user avatar') %>
    </div>

    <div id="user-name" class="col-xs-14 col-sm-10 col-lg-10">
      <h3><%= @user.full_name %></h3>
      <div>
        <h5>(Insert funny hiker level here)</h5>
        <br>
        <h5>Total KMs Hiked = __</h5>
      </div>
    </div>

  </div> <!-- end of row -->


  <div class="row main-btn-wrapper">
    <div class="container-fluid">

      <a href="<%=  %>" class="col-xs-4 main-btn">
        <div class="row">
          <div class="col-md-2 hidden-xs hidden-sm"></div>
          <div class="col-xs-12 col-md-2">
            <h1><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></h1>
            <h4 class="hidden-md hidden-lg">To-Do</h4>
          </div>
          <div class="main-btn-txt hidden-xs hidden-sm col-md-8">
            <h3>To-Do Hikes</h3>
            <p>Your Next Adventure Awaits!</p>
          </div>
        </div>
      </a>

      <a href="<%=  %>" class="col-xs-4 main-btn">
        <div class="row">
          <div class="col-md-2 hidden-xs hidden-sm"></div>
          <div class="col-xs-12 col-md-2">
            <h1><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h1>
            <h4 class="hidden-md hidden-lg">Completed</h4>
          </div>
          <div class="main-btn-txt hidden-xs hidden-sm col-md-8">
            <h3>Completed Hikes</h3>
            <p>See How Far You've Come</p>
          </div>
        </div>
      </a>

      <a href="<%=  %>" class="col-xs-4 main-btn">
        <div class="row">
          <div class="col-md-2 hidden-xs hidden-sm"></div>
          <div class="col-xs-12 col-md-2">
            <h1><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h1>
            <h4 class="hidden-md hidden-lg">Favourites</h4>
          </div>
          <div class="main-btn-txt hidden-xs hidden-sm col-md-8">
            <h3>Favourite Hikes</h3>
            <p>Easy Access to Your Faves</p>
          </div>
        </div>
      </a>

    </div>
  </div>

<div class="row">

  <!-- Hikes marked as To-Do by User -->
    <div class="saved-hikes hidden" class="col-xs-6 col-sm-4">
     <ul>
      <% @todo_hikes.each do |saved_hike| %>
        <li><%= link_to saved_hike.hike.name, hike_path(saved_hike.hike_id) %></li>
      <% end %>
      </ul>
    </div>

  <!-- Hikes Completed by User -->
    <div class="saved-hikes hidden" class="col-xs-6 col-sm-4">
      <ul>
      <% @completed_hikes.each do |saved_hike| %>
        <li><%= link_to saved_hike.hike.name, hike_path(saved_hike.hike_id) %></li>
      <% end %>
      </ul>
    </div>

  <!-- Hikes favourited by User -->
    <div class="saved-hikes hidden" class="col-xs-6 col-sm-4">
      <ul>
      <% @fave_hikes.each do |saved_hike| %>
        <li><%= link_to saved_hike.hike.name, hike_path(saved_hike.hike_id) %></li>
      <% end %>
      </ul>
    </div>

  </div> <!-- End of row -->

  <!-- Trying out collapsible panel -->

<div class="row">

  <div class="col-xs-6 col-sm-4 panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">To-Do Hikes</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
          <% @todo_hikes.each do |saved_hike| %>
            <li class="list-group-item"><%= link_to saved_hike.hike.name, hike_path(saved_hike.hike_id) %></li>
          <% end %>
        </ul>
        <div class="panel-footer">Footer</div>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-4 panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse2">Completed Hikes</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <ul class="list-group">
          <% @completed_hikes.each do |saved_hike| %>
            <li class="list-group-item"><%= link_to saved_hike.hike.name, hike_path(saved_hike.hike_id) %></li>
          <% end %>
        </ul>
        <div class="panel-footer">Footer</div>
      </div>
    </div>
  </div>


  <div class="col-xs-6 col-sm-4 panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse3">To-Do Hikes</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <ul class="list-group">
          <% @fave_hikes.each do |saved_hike| %>
            <li class="list-group-item"><%= link_to saved_hike.hike.name, hike_path(saved_hike.hike_id) %></li>
          <% end %>
        </ul>
        <div class="panel-footer">Footer</div>
      </div>
    </div>
  </div>
</div>


  <!-- End collapse panel -->

  <!-- Reviews by User -->
  <div class="row">
    <div id="reviews-by-user" class="col-md-12">
      <h4>Reviews by <%= @user.first_name %>:</h4>
      <% @user.reviews.each do |review| %>
        <p>Review of <%= link_to "#{Hike.find(review.hike_id).name}", hike_path(review.hike_id) %>: "<%= review.comment %>", Rating: <%= review.rating %></p>
      <% end %>
    </div>
  </div> <!-- End of row -->

</div> 
</div>

<script>
$(function(){
  $('.main-btn-wrapper').on('click', '.main-btn', function(){
    console.log("clicked it!");
  });
});

</script>