
    <div class="row">
    <div class="container">
      <table id="completed_hikes" class="table table-hover">
        <thead>
          <tr>
            <td>Name</td>
            <td>Distance</td>
            <td>Difficulty</td>
            <td>Date</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody>
          <% @completed_hikes.each do |hike| %>
            <tr>
              <td><%= link_to hike.hike.name, hike_path(hike.hike_id) %></td>
              <td><%= hike.hike.distance_description %></td>
              <td><%= hike.hike.difficulty_description %></td>
              <td><%= hike.created_at.strftime("%b %d, %Y") %></td>
              <td><%= button_to "Delete", hike_completed_hike_path(hike.hike_id, hike.id),
                      method: :delete,
                      style: "background-color: #C6D166;",
                      class: "btn btn-default btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <table id="fave_hikes" class="table table-hover">
        <thead>
          <tr>
            <td>Name</td>
            <td>Distance</td>
            <td>Difficulty</td>
            <td>Delete</td>
          </tr>
        </thead>
        <tbody>
          <% @fave_hikes.each do |hike| %>
            <tr>
              <td><%= link_to hike.hike.name, hike_path(hike.hike_id) %></td>
              <td><%= hike.hike.distance_description %></td>
              <td><%= hike.hike.difficulty_description %></td>
              <td><%= button_to "Delete", hike_fave_hike_path(hike.hike_id, hike.id),
                      method: :delete,
                      style: "background-color: #C6D166;",
                      class: "btn btn-default btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


<%= javascript_include_tag 'jquery.dataTables.min' %>
