<%text = "https://twitter.com/intent/tweet?button_hashtag=TakeAHike&text=I%20just%20finished%20" +@hike.name.gsub(" ","%20") +"!!" %>
<%#= link_to "Rate this hike!", new_hike_review_path(@hike) %>

<div id="new-review-block">
  <%= render partial: 'reviews/new' %>
</div>

<div>
  <% if @hike.reviews.count > 0 %>
    <button type="button" class="btn btn-default hide-button show-hikes" style="display: none;">Hide Reviews </button>
    <button type="button" class="btn btn-default show-button show-hikes">Show Reviews </button>  
    <br>
  <% end %>
  <br>
</div>

<div id="review-block" class="review-block">
  <script id="handlebars-review" type="text/x-handlebars-template">​
    <div class="col-xs-3">
      <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
      <div class="review-block-name">
        <a href="/users/1">{{username}}</a>
      </div>
    </div>
    

    <div class="col-xs-9">
      <div id="current-user-rating" class="review-block-rate" data-rating={{rating}}>
        <span class="rate-tree glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
        <span class="rate-tree glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
        <span class="rate-tree glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
        <span class="rate-tree glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
        <span class="rate-tree glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
      </div>

      <div class="review-block-description">
        <h4>{{comment}}</h4>
      </div>

    </div>
  ​</script>
  <% @hike.reviews.each do |review| %>
    <div class="individual-review row">
          
      <div class="col-xs-3">
        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
        <div class="review-block-name">
         <%= link_to review.user.full_name, user_path(review.user.id) %>
        </div>
      </div>
      
      <div class="col-xs-9">
        <div class="review-block-rate" data-rating="<%= review.rating %>">
          <!-- RATING FOR EACH REVIEW -->
          <% 5.times do %>
            <span class="rate-tree glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
          <% end %>
        </div>

        <div class="review-block-description"> Rating: <%= review.rating %> 
          <h4><%= review.comment %></h4>
        </div>

      </div>
      <hr>
    </div>
  <% end %>

  <div align="right">
    <a href=<%=text%> class="twitter-hashtag-button">Tweet #TakeAHike</a>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
      <!-- Your share button code -->
    <div class="fb-share-button" data-layout="button_count"></div>
  </div>
</div>

<%= javascript_include_tag 'reviews/reviews.js' %>


