<%text = "https://twitter.com/intent/tweet?button_hashtag=TakeAHike&text=I%20just%20finished%20" +@hike.name.gsub(" ","%20") +"!!" %>
<script src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
  var hikeCoordinates = <%=@hike_waypoints%>;
  var reviews = <%=@hike_reviews_json%>;
  var averageRating = <%=@average_rating_json%>;
  var hike = <%=@hike_json%>;
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=525951207607453";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="container-fluid">

  <div class="hike-header">
    <div class="container">
      <div class="col-xs-12">
        <h1 id="hike-title"><%= @hike.name %></h1>
        <% if current_user && current_user.number_of_times_completed(@hike) >= 1 %>
          <h5 id="times-completed">You have completed this hike <%= pluralize(current_user.number_of_times_completed(@hike), 'time') %></h5>
        <% end %>
        <!-- AVERAGE STAR RATING -->
        <% unless @hike.reviews.count == 0 %>
          <div id="rating-block">
            <div class="total-rating" data-rating="<%= @hike.average_rating %>">
              <p>
                <% 5.times do %>
                  <span class="rate-tree glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
          <% if current_user && current_user.has_favourited?(@hike) %>
            <div class="btn btn-default hike-std-btn favourite">
              <i class="glyphicon glyphicon-heart"></i> Marked as Favourite
            </div>
          <% else %>
            <%= button_to hike_fave_hikes_path(params[:id]), method: :post, class: "btn btn-default hike-std-btn" do %>
              <i class="glyphicon glyphicon-heart-empty"></i> Add to Favourites
            <% end %>  
          <% end %>
        <%= button_to hike_completed_hikes_path(params[:id]), method: :post, class: "btn btn-default hike-std-btn" do %>
          <i class="glyphicon glyphicon-ok"></i> Mark Completed
        <% end %>
      </div>
    </div>
  </div>

  <div class="container hike-body">

    <!-- HIKE DESCRIPTION SECTION -->
    <div class="col-xs-12 col-md-6 hike_directions" style="display:none">
    <h1> Directions </h1>
    <hr/>
    <div class="hike_steps">
    </div> 
    </div>
    <div class="col-xs-12 col-md-6 hide_hike_descriptions">

      <div class="row hike_glyphicon_descriptions">
        <div class="col-xs-12 col-md-6">
          <div class="hike-desc-item">
            <span class="glyphicon glyphicon-record distance-icon" aria-hidden="true"></span>
            <%= pluralize(@hike.distance_in_km, 'Km') %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="hike-desc-item">
            <span class="glyphicon glyphicon-time time-icon" aria-hidden="true"></span>
            <%= pluralize(@hike.time_in_hours, 'Hour') %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="hike-desc-item">
            <span class="glyphicon glyphicon-cog difficulty-icon" aria-hidden="true"></span>
            <%= @hike.difficulty_description %>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="hike-desc-item">
            <span class="glyphicon glyphicon-leaf seasons-icon" aria-hidden="true"></span>
            <%= @hike.seasons.join(", ") %>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-12">
          <h4> Description </h4>
          <p id="hike-description-trunc"><%= truncate(@hike.description, :omission => "...", :length => 300) %></p>
          <% if @hike.description.length >= 300 %>
            <button class="hike-description btn btn-default hike-std-btn" role="button">More</button>
            <button class="hide-hike-description btn btn-default hike-std-btn" style="display: none;" role="button">Less</button>
            <br>
            <br>
          <% end %>
          <% if @hike.description=="" %>
            <p> There is currently no description available. </p>
          <% end %>
        </div>
      </div>

      <hr/>

      <!-- REVIEW SECTION -->
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: 'review' %>
        </div>
      </div>
      
      <div align="right">
         <a href=<%=text%> class="twitter-hashtag-button">Tweet #TakeAHike</a>
        <div class="fb-send" data-href="http://www.takeahike.co" data-layout="button_count"></div>
        <hr/>

<div class="fb-share-button" data-href="http://takeahike.com" data-layout="button_count" data-mobile-iframe="true"></div>

      </div>

    </div>

    <!-- HIKE MAP AND ELEVATION -->
    <div class="col-xs-12 col-md-6">
        <button class="btn btn-default hike-std-btn" id="directions"> Show Directions </button>
        <button class="btn btn-default hike-std-btn" id="showmap" style="display:none"> Show Hike </button>
        <div class="fixed_map show_map">
        	<div id="map"></div>
        </div>
        <div class="wrapper">
          <div class="fixed_graph">
            <h4> Elevation Change: </h4>
            <div id="elevation_chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NEW WEATHER IFRAME FROM FORECAST.IO -->
<%src="http://forecast.io/embed/#lat="+@hike.start_lat.to_s+"&lon="+@hike.start_lng.to_s+"&name="+@hike.name.gsub(" ","%20")+"&units=ca&color=#484C3B"%>
 <div class="wrapper">
  <div id="weather">
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src=<%=src%>>
    </iframe>
  </div>
</div>

<!-- NEW WEATHER IFRAME FROM FORECAST.IO -->

<script>
  google.load('visualization', '1', {packages: ['columnchart']});
</script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</script>

<%= javascript_include_tag 'hikes/show.js' %>


