<script src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
  var hikeCoordinates = <%=@hike_waypoints%>;
  var reviews = <%=@hike_reviews_json%>;
  var averageRating = <%=@average_rating_json%>;
</script>

<%= link_to "Back to all hikes", hikes_path %><br/>
<%text = "https://twitter.com/intent/tweet?button_hashtag=TakeAHike&text=I%20just%20finished%20" +@hike.name.gsub(" ","%20") +"!!" %>


<div class="container-fluid">
  
  <div class="row">
    
    <div class="col-xs-6">
      <div class="well">
        <h2><%= link_to @hike.name, hike_path(@hike) %></h2>
        <h4><%= pluralize(@hike.distance_in_km, 'Km') %> </h4>
        <h4><%= pluralize(@hike.time_in_hours, 'Hour') %></h4>
        <h4>Difficulty Rating:<%= @hike.difficulty_description %></h4>
        <h4><%=@hike.seasons.join(", ")%></h4>
        <h4> Description </h4>
        <p><%= @hike.description %></p>
      </div>
         
      <div class="well">
        <a href=<%=text%> class="twitter-hashtag-button">Tweet #TakeAHike</a>
        <%= render partial: 'review' %>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="well">
        <div class="fixed_map">
        	<div id="map"></div>
        </div>
        <div class="fixed_graph">
          <h4> Elevation Change: </h4>
          <div id="elevation_chart"></div>
        </div>
      </div>
    </div>

  </div>
</div>





<!-- NEW WEATHER IFRAME FROM FORECAST.IO -->
<%src="http://forecast.io/embed/#lat="+@hike.start_lat.to_s+"&lon="+@hike.start_lng.to_s+"&name="+@hike.name.gsub(" ","%20")+"&units=ca"%>
<div id="weather">
  <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src=<%=src%>> 
  </iframe>
</div>
<!-- NEW WEATHER IFRAME FROM FORECAST.IO -->

<script>
  google.load('visualization', '1', {packages: ['columnchart']});
</script>


 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<%= javascript_include_tag 'hikes/show.js' %>




