<script src="https://www.google.com/jsapi"></script>

<div class="container-fluid"></div>


<div class="container-fluid">
  <div class="row">

    <div class="col-xs-6">
      <div class="well">
        <ul>
          <h2><%= link_to @hike.name, hike_path(@hike) %></h2>
          <li>
              <h3><%= pluralize(@hike.distance_in_km, 'Km') %>, <%= pluralize(@hike.time_in_hours, 'Hour') %></h3>
          </li>
          <li><h4>Difficulty Rating:<%= @hike.difficulty %></h4></li>
          <li><p><%= @hike.description %></p></li>
        </ul>
      </div>

      <div class="well">
        <h3>Current Weather:</h3>
        <div id="results-container">
          <ul id="result-list">
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="well">
        <div class="fixed_map">
        	<div id="map"></div>
        </div>
        <div class="fixed_graph">
          <div id="elevation_chart"></div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  google.load('visualization', '1', {packages: ['columnchart']});
</script>



<%= link_to "Back to all hikes", hikes_path %><br/>

<!-- WS - Working on Reviews (Rating & Comment) -->
<%= render partial: 'review' %>

<script type="text/javascript">
  var hikeCoordinates = <%=@hike_waypoints%>
</script>

<%= javascript_include_tag 'hikes/show.js' %>
<%= javascript_include_tag 'hikes/weather.js' %>

