<script src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
  var hikeCoordinates = <%=@hike_waypoints%>;
  var reviews = <%=@hike_reviews_json%>;
  var averageRating = <%=@average_rating_json%>;
  var hike = <%=@hike_json%>;
</script>


<div class="container">

  <div class="row">

    <!-- HIKE DESCRIPTION SECTION -->
    <div class="col-xs-6">

      <h1 id="hike-title"><%= @hike.name %></h1> 

      <!-- AVERAGE STAR RATING -->
      <% unless @hike.reviews.count == 0 %>
        <div id="rating-block">
          <div class="total-rating" data-rating="<%= @hike.average_rating %>">
            <% 5.times do %>
              <span class="rate-tree glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= button_to 'Favourite', hike_fave_hikes_path(params[:id]), method: :post, class: "btn btn-default show-hikes" %>
      <%= button_to 'Hike Completed', hike_completed_hikes_path(params[:id]), method: :post, class: "btn btn-default show-hikes" %> 

      <div class="hike_glyphicon_descriptions"> 
        <br>
        <span class="glyphicon glyphicon-record" aria-hidden="true" style="color:red;"></span>
        <%= pluralize(@hike.distance_in_km, 'Km') %><br>
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <%= pluralize(@hike.time_in_hours, 'Hour') %><br>
        <span class="glyphicon glyphicon-cog" aria-hidden="true" style="color:orange;"></span>
        <%= @hike.difficulty_description %> <br>
        <span class="glyphicon glyphicon-leaf" aria-hidden="true" style="color:green;"></span>
        <%=@hike.seasons.join(", ")%>
        <br>
      </div>
      <hr/>

      <h4> Description </h4>
      <p id="hike-description-trunc"><%= truncate(@hike.description, :omission => "...", :length => 300) %></p>
      <% if @hike.description.length >= 300 %>
        <button class="hike-description btn btn-default show-hikes" role="button">More</button>
        <button class="hide-hike-description btn btn-default show-hikes" style="display: none;" role="button">Less</button>
        <br>
        <br>
      <% end %>
      <% if @hike.description=="" %>
        <p> There is currently no description available. </p>
      <% end %>
      <hr/>

  <!-- REVIEW SECTION -->
      <div>
        <h4> Add Your Review </h4>
        <%= render partial: 'review' %>
      </div>

    </div>

    <!-- HIKE MAP AND ELEVATION -->
    <div class="col-xs-6">
      <br>
        <button class="btn btn-default show-hikes" id="directions"> Show Directions </button>
        <button class="btn btn-default show-hikes" id="showmap" style="display:none"> Show Map </button>
        <div class="fixed_map">
        	<div id="map"></div>
        </div>
        <div class="wrapper">
          <div class="fixed_graph">
            <h4> Elevation Change: </h4>
            <div id="elevation_chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NEW WEATHER IFRAME FROM FORECAST.IO -->
<%src="http://forecast.io/embed/#lat="+@hike.start_lat.to_s+"&lon="+@hike.start_lng.to_s+"&name="+@hike.name.gsub(" ","%20")+"&units=ca&color=#484C3B"%>
 <div class="wrapper">
  <div id="weather">
    <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src=<%=src%>>
    </iframe>
  </div>
</div>

<!-- NEW WEATHER IFRAME FROM FORECAST.IO -->

<script>
  google.load('visualization', '1', {packages: ['columnchart']});
</script>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<%= javascript_include_tag 'hikes/show.js' %>
