<%= form_for([@hike, @review], remote: true, class:"form-horizontal") do |f| %>

  <% if @review.errors.any? %>
    <div>
      <%= pluralize(@review.errors.count, "error") %> prevented the review from being saved:
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :rating, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :rating do %>
        <% [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]].each do |c| -%>
          <%= content_tag(:option, c.first, value: c.last) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :comment, class:"col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area "comment", class:"form-control", placeholder:"Comment", cols:"10", rows:"1" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10" style="padding-top: 5px;">
      <%= f.submit "Submit", class: "btn btn-sm btn-default show-hikes" %>
        <br><br>
    </div>
  </div>

<% end %>


<%= javascript_include_tag 'jquery.barrating.min.js' %>
