<!-- (WS) Functioning temporary rating form -->
<h2>Rate and Write a Review of <em><%= @hike.name %></em>.</h2>

<%= form_for([@hike, @review]) do |f| %>

  <% if @review.errors.any? %>
    <div>
      <%= pluralize(@review.errors.count, "error") %> prevented the review from being saved:
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :rating %>
  <%= f.number_field :rating %>

  <%= f.label :comment %>
  <%= f.text_area "comment" %>

  <%= f.submit "Submit" %>

<% end %>

<%= link_to "Back to hike", hike_path(@hike) %>
