<!DOCTYPE html>
<html>
<head>
  <title>Take a Hike</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:400,700,900,800,100,200,300,500,600,400italic,700italic' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'mtn.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<%= render 'layouts/navbar' %>

  <% flash.each do |key, value| %>
    <%= content_tag(:div, content_tag(:p, value), class: "alert alert-info alert-dismissible flash") %>
  <% end %>

	<%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
